.lightbox {
	display:none;
}
.popUp-head {
	font-family:swiss_721_swabold;
	font-size:18px;
	line-height:24px;
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px solid #426700;
}
	
.popUp-content {
	position:relative;
	text-align:center;
	font-size:18px;
	padding:15px;
}
.popUp-content p {
	text-align:left;
	line-height:24px;
}
.text-center {
    text-align: center;
}
.popUpBtn a {
	text-align:center;
	color:#ffffff;
	padding:5px 15px;
	position:relative;
	background:#034381;
	display:inline-block;
	border-radius:20px;
	margin-top:20px;
	behavior:url(PIE.htc);
	overflow:hidden;
}
.popUpBtn a:hover {
	color:#ffffff;
	background:#0AB6DD;
}	
.successfull p:before{
	font-family: FontAwesome;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f00c";
	margin-right: 6px;
	color:#0F0;
}
.error p:before{
	font-family: FontAwesome;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f00d";
	margin-right: 6px;
	color:#F00;
}

.enquiry_cart .send{
	clear: both;
    color: #114d01;
    float: left;
    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 16px;
    padding: 12px 0;
	text-align:right;
	width:100%;
	display:block;
}
.enquiry_cart .error{
	color: #ff0000;
    clear: both;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 12px 0;
}

/*###########################*/
.msgsuccess {
    background: #effeb9 url("icons/success.png") no-repeat scroll 10px center;
    border: 1px solid #c1d779;
}
.notification {
    border-radius: 2px;
    margin: 0 0 20px;
    padding: 5px 5px 5px 45px;
    position: relative;
    width: 90%;
}
.msgerror {
    background: #fad5cf url("icons/error.png") no-repeat scroll 10px center;
    border: 1px solid #e18b7c;
}
.notification .close {
    background: rgba(0, 0, 0, 0) url("icons/close.png") no-repeat scroll 0 0;
    border-radius: 2px;
}
.notification .close {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 8px;
}