@charset "utf-8";
/* CSS Document */
@import url(global.css);



@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/helr45w_0-webfont.eot');
    src: url('../fonts/helr45w_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helr45w_0-webfont.woff') format('woff'),
         url('../fonts/helr45w_0-webfont.ttf') format('truetype'),
         url('../fonts/helr45w_0-webfont.svg#HelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.unread{ background:#fdecd7;}
h3{
color: #000;	
}

html{
	 display:block;
	 	min-height:100%;
		position:relative;
}
body {
	background-color: #FFF;
	font-family: 'open_sanslight';
	font-weight: normal;
	color: #333333;
	/*min-width: 1350px;*/
	margin:0;
	padding:0;
	padding-bottom:64px;
}


a{ text-decoration:none;}

#MainDiv {
	
	padding:0 0px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
	min-width:800px;
}

header#header{ 
min-height: 90px;
width:90%;
margin:0px auto;

}
.logoDiv {
	float: left;
	height: 52px;
	width: 30%;
	margin-top:20px;
	margin-left:5px;	
}



.toprightDiv{ 
	float:right;
	width:60%;
	height:66px;
	margin-top:14px;
	position:relative;
	top:0; right:5px;

			}

.toplogoutUI{ padding:0; margin:0; float:right; list-style:none; 
	font-size:13px; color:#333333; font-family: 'open_sanslight'; margin-bottom:8px; }

.toplogoutUI li{ float:left; list-style:none; padding:0 0 0 20px; display:inline; white-space:nowrap; }
.toplogoutUI li.hialex{ font-style:italic; color:#034381; }
.toplogoutUI li a{ color:#000; text-decoration:none; }
.toplogoutUI li a:hover{ color:#034381; text-decoration:none; }
.toplogoutUI li a.select-topright{ color:#034381; text-decoration:none; }


.topsearcharea {
	float: right;
	width:60%;
	height: 30px;
	margin-top:8px;
	position:relative;
     
}	
.topsearcharea-input {	
	width: 188px;	
	height: 27px;
	background:white;
	border:#cccccc 1px solid;
	float: right;	
	display: block;
	color: #757575;
	font-size: 12px;
	padding: 0px 5px;
	margin-top:4px;
	position:absolute;
	right:60px;
}
.toprightDiv form input[type="button"] {	
	position:absolute;
	width: 55px;
	height: 28px;
	background:#034381;
	font-weight:bold;
	font-size:14px;
	color:#FFF;
	float: right;
	display: block;
	cursor: pointer;
	display: block;
	border: 0px;
	outline: none;
	margin-top:4px;
	margin-right:0px;
	right:0;
}
.topMainnav{ 
		width:70%;
		height:40px;
		float:left;
		margin-top:20px;
		position:relative;
		background:#FFF;}

		
.topMainnav li{
		float:left;
		background:url(../images/arrow-bullet.png) 0 50% no-repeat;
		font-size:12px; color:#333333; font-family: 'open_sanslight';
		text-transform:uppercase;
		padding-right:10px; padding-left:15px;			
		}
		
.topMainnav li a{ color:#333333; text-decoration:none;
	}

.topMainnav li a:hover{ color:#034381; text-decoration:none;
				}
.topMainnav li a.select{ color:#034381; text-decoration:none;}
.topMainnav li:first-child{ background:none; border:none;padding-left:0;	}


.topMainnavRight{ 
		width:29%;
		height:40px;
		float:right;
		margin-top:20px;
		position:relative;
		background:#FFF;}
.topMainnavRight ul{
float:right;
}
		
.topMainnavRight li{
		float:left;
		background:url(../images/arrow-bullet.png) 0 50% no-repeat;
		font-size:12px; color:#333333; font-family: 'open_sanslight';
		padding-right:10px; padding-left:15px;			
		}
		
.topMainnavRight li a{ color:#333333; text-decoration:none;
	}

.topMainnavRight li a:hover{ color:#034381; text-decoration:none;
				}
.topMainnavRight li a.select{ color:#034381; text-decoration:none;}
.topMainnavRight li:first-child{ background:none; border:none;}
			

.gridMainbodyDiv{ width:90%;
				padding-bottom:20px;
				display:block; 
				position:relative;
				margin:0px auto;
				min-height:450px;
}

.leftpanel{width:17%; height:auto; float:left; margin:0; padding-bottom:30px; background:#f9f9f9;
	border:#cccccc 1px solid;  }

.arrowlistmenu h1{ width:90%; font-size:24px; color:#034381; font-family: 'open_sanslight'; font-weight:100; text-transform:uppercase;
    padding:10px 0; margin-left:10px;border-bottom:#cccccc 1px solid;}
	
.arrowlistmenu h1 a { width:90%; font-size:18px; color:#034381; font-family: 'open_sanslight'; font-weight:100; text-transform:uppercase;
    }
.arrowlistmenu h1 a:hover {
	color:#000;
}
.commentsPart span{width:90%; font-size:24px; color:#034381; font-family: 'open_sanslight'; font-weight:100; text-transform:uppercase;
    padding:10px 25px 5px 0px; margin-left:10px; margin-bottom:10px;
	border-bottom:#cccccc 1px solid; line-height:65px;
}





.arrowlistmenu{ width:95%; }

.arrowlistmenu .menuheader{ 
margin-bottom: 0;
cursor: hand;
cursor: pointer;
border-bottom:#cccccc 1px solid;
color: #034381;
font-family: 'open_sanslight';
font-size: 18px;
font-weight: 100;
text-transform: uppercase;

}

.arrowlistmenu .menuheader:hover{ /*CSS class for menu headers in general (expanding or not!)*/
color:#000; 
}


.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li.arrow{
font-size:13px; color:#333333 !important; font-family: 'open_sanslight';
background:url(../images/blk-arrow-bullet.png) 0 0 no-repeat;}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
font-size:13px; color:#333333 !important; font-family: 'open_sanslight';
padding:10px 0;
background:url(../images/blk-arrow-bullet.png) 0 50% no-repeat;
display: block;
margin-left:10px;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
border-bottom: 1px solid #CCCCCC;
width: 81%;
}
.arrowlistmenu ul li a:hover, .arrowlistmenu ul li a.Select{
	color:#034381 !important; 
}
.arrowlistmenu ul li a:visited{
color: #034381;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #034381;

}

.MainDiv{
	 margin:0px auto;


/*	background:#f9f9f9; */
	background:#FFF;
	
	border:#cccccc 1px solid;
/*	padding:0.5%;
	margin-right:0.5%;*/
	position:relative;
	padding-left:12px;
	padding-top:15px;
	}



.MainDiv-Row{ 
	min-width:auto; min-height:auto; float:none;   margin-bottom:20px;
     }
	
.MainDiv-Row span{width:98%; font-size:24px; color:#034381; font-family: 'open_sanslight'; font-weight:100; text-transform:uppercase;
    padding:0px 15px 5px 0px; margin-left:10px; margin-bottom:20px; line-height:65px;
	border-bottom:#cccccc 1px solid;}	
.MainDivArticle {font-size:13px; color:#333333; font-family: 'open_sanslight'; line-height:25px;}
.MainDivArticle ul{ padding:0; margin:0; list-style:none; margin-left:5px; width:auto;  }
	
.MainDivArticle ul li{padding:0 0 0px 20px; list-style:none; background:url(../images/round-bullet.png) left center no-repeat;
	 font-size:13px; color:#333333; font-family: 'open_sanslight'; line-height:25px; }
	
.MainDivArticle ul li a{color:#333333; text-decoration:none;}
.MainDivArticle ul li a:hover{color:#034381; text-decoration:none;}
	
	
/*==================For google crome browser=========*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.MainDiv-Row{ 
	min-width:100%; min-height:auto; float:none;   margin-bottom:20px;
     }
/* .articleUI ul{ padding:0; margin:0; list-style:none; margin-left:5px;   }
	
.articleUI ul li{padding:0 0 0px 15px; list-style:none; background:url(../images/round-bullet.png) left center no-repeat;
	 font-size:13px; color:#333333; font-family: 'open_sanslight'; line-height:25px; text-align:left; }
	
.articleUI ul li a{color:#333333; text-decoration:none;}
.articleUI ul li a:hover{color:#034381; text-decoration:none;}*/
	
}

	
	
	
.article-leftpart{ width:64%; height:auto;  padding-right:10px;  float:left; border-right:1px #B4B4B4 solid;}	
	
.article-leftpart h1{font-size:24px; color:#034381; font-family: 'open_sanslight'; font-weight:100; text-transform:uppercase;
    padding:0px 0 15px 0px; margin-left:10px; margin-bottom:20px;
	border-bottom:#cccccc 1px solid;}
	
.article-leftpart-heading02{width:auto; font-size:20px; color:#034381; font-family: 'open_sanslight'; font-weight:100; 
    padding:0px 0 15px 0px; margin-left:10px; margin-bottom:10px;	}
.articleUI{ padding:0; margin:0; list-style:none; width:90%; }
.articleUI li{ float:left; padding:0 5px 0 5px; height:12px; border-left:#333333 1px solid;
	font-size:12px; color:#333333; font-family: 'open_sanslight'; line-height:10px; background:none;}
.articleUI li a{color:#333333; text-decoration:none;}
.articleUI li a:hover{color:#333333; text-decoration:underline;}

.articleUI li:first-child{ border:none} 	


.article-download{ padding:0; margin:0; list-style:none; }
.article-download li{ float:left; padding:0 5px 0 25px; height:30px; background:url(../images/download-bullet.png) left center no-repeat;
	font-size:12px; color:#333333; font-family: 'open_sanslight'; line-height:25px;}

.article-download li a{ color:#034381; text-decoration:none; padding-left:10px;}
.article-download li a:hover{ color:#034381; text-decoration:underline;}
.readmore-btn{width:103px; height:26px; float:right; margin-top:20px; }
.starArea{ width:200px; height:20px; float:left; margin-top:20px;}




.add-commentPart{ /*width:305px;*/ width:51%; height:auto;  float:left}
.contact_filedBox{ width:300px; height:auto;  border:#cccccc 1px solid;}



	
.contact_filedBox {/*width:300px;*/ width:98%; float:left; margin-left:5px; margin-top:0px; margin-bottom:6px;  }
.inputBox {margin:0 0 13px;}
.inputBox label {  width:60px; height:25px;  display:block; float:left; padding-left:10px; 			  
				  font:13px Arial, Helvetica, sans-serif;  font-size:12px; color:#333333; font-family: 'open_sanslight';
				  line-height:20px; 
                  }
.contact_filedBox input[type="text"],.contact_filedBox input[type="passowrd"] {
 width:68%; height:24px; 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
border:1px solid #cccccc; background:#ffffff; padding:0 4px;
outline:none;font-size:11px; color:#333333; font-family: 'open_sanslight';
float:left;  margin-bottom:5px;
}

.contact_filedBox input[type="text"]:hover,.contact_filedBox input[type="passowrd"]:hover,
.contact_filedBox input[type="text"]:focus,.contact_filedBox input[type="passowrd"]:focus {
border:1px solid #d2cfcf;
background:#f2f2f9;
position:relative;
font-size:11px; color:#333333; font-family: 'open_sanslight';}

.contact_filedBox textarea {
width:68%; height:100px; 
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
border:1px solid #cccccc; background:#ffffff; padding:4px 4px;
outline:none;font-size:11px; color:#333333; font-family: 'open_sanslight';
float:left;  margin-bottom:5px;
}

.contact_filedBox textarea:hover,
.contact_filedBox textarea:focus{
border:1px solid #d2cfcf;
background:#f2f2f9;
position:relative;}



.selectbox {
width:200px; height:32px; border:1px solid #dedede; background:#ffffff;
outline:none; font-size:14px; font-family: 'open_sanslight'; font-size:14px; color:#000; 
float:left;  margin-bottom:5px;
padding:5px;
}

.selectbox:hover, .selectbox:focus {
border:1px solid #d2cfcf;
background:#f0f0da;
position:relative;}




.contact_filedBox form input[type="button"],
.contact_filedBox form input[type="submit"],
.contact_filedBox form input[type="reset"] {
width:104px; height:27px; display:block; 
cursor:pointer;
margin-top:0px;
}	


.submit-btn{	
	width:104px; height:27px; float:right;
	color:#323232; text-decoration:none;
	background:url(../images/submit-btn.png) 0 0 no-repeat; 
	border:none; outline:none;
	padding:0px 25px;
	font-family: 'open_sanslight'; font-size:13px; color:#000; 
	text-align:center;
	text-decoration:none;
	margin:10px 22px 25px auto;
	cursor:pointer;
	} 
	
.submit-btn:hover{	
	opacity:0.8;} 

.activityPart{width:44%; height:auto;  float:right;}

.activityBody{ width:99%; height:auto;  float:left;
	border:#cccccc 1px solid;}

.activityRow{width:99.5%;  height:20px; float:left;
font-family: 'open_sanslight'; font-size:13px; color:#000; padding:5px 0 0 5px; margin-bottom:5px; margin-top:5px; }

.activityRow:hover{ width:99.5%; height:20px; padding:5px 0 0 5px; float:left; margin-bottom:5px; margin-top:5px; background-color:#cccccc; color:#000; text-decoration:none;}
	

.commentsPart{width:33.8%; height:auto;  float:right;}
.commentsRow{ width:98%; height:auto;  float:right; margin-bottom:20px}

.commentsUI { padding:0; margin:0; float:left; list-style:none; }
.commentsUI li {float:left; list-style:none; padding:0 6px; height:12px; border-left:#c6c6c6 1px solid;
	font-family: 'open_sanslight'; font-size:12px; color:#333; line-height:12px;   }
.commentsUI li a {color:#333; text-decoration:none;}
.commentsUI li a:hover {color:#333; text-decoration:underline;}
.commentsUI li:first-child{ border:none;}	
	
.commentsBox{ width:91%; height:auto;  float:left; margin-top:8px;
	border:#c6c6c6 1px solid; padding:8px 8px 15px 8px;  font-size:12px; color:#333333; font-family: 'open_sanslight'; line-height:20px;}
	
.footerDiv{
width:90%; 
display:block; 
position:relative;
color: #FFF;
font-size:12px;
font-family: 'open_sanslight';
margin:0px auto;
}
.footerDiv a{ color:#FFF;
}
.footerDiv a:hover{ text-decoration:underline;
}
.footerDiv img{ vertical-align:middle;
margin-left:6px;
}

/*.designby-logo{ width:40px; height:15px; float:right; position:absolute; margin-left:5px; }*/
.leftPanel{
	/*width:100%;
	padding:0 10px;
	float:left;
	margin:10px 0;*/
}
.rightPanel{
	width:60%;
	padding:0 5px;
	float:right;
}
.loginBox{
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    margin: 30px 10px 0 10px;
    width: 85%;
	padding: 10px;
	font-size: 12px;
	color:#000;
}
.loginBox a{
	color:#000;
}
.rightMenu ul{
	width:150px;
	float:right;
	text-align:left;
	padding:25px;
}
.rightMenu ul li{ 
	background: url("../images/pointer.png") no-repeat scroll 0 30% rgba(0, 0, 0, 0);
	padding:0 0 10px 15px;
}
.rightMenu li a{
	color:#000;
	font-size:14px;
	font-weight:400;
}
.rightMenu li a:hover{
	color: #034381;
	font-weight:bold;
}
.loginBox span{
	border: none;
    color: #034381;
    font-family: 'open_sanslight';
    font-size: 14px;
    line-height: 15px;
    margin:0;
    padding: 0px;
    text-transform: none;
}
.leftImg{
	float: left;
    width: 120px;
}
.leftPanel .leftImg span{
	text-align:center;
	border: none;
    font-size: 20px;
    margin:0;
    padding: 0px;
	width: 135px;
	display:block;
	line-height: 30px;
    text-transform: none;
}
.articleBox .leftImg img{
	margin: 20px 20px 10px 30px;
}
.categoryBox .leftImg img{
	margin: 30px 20px 10px 30px;
}
.userBox .leftImg img{
	margin: 15px 20px 10px 30px;
}
.loginBox a{
	float:right;
}
.articleBox{
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    margin: 10px 15px 20px 10px;
    width: 29%;
	height:150px;
	padding: 10px;
	font-size: 12px;
	float:left;
	border-radius:8px;
	-border-radius:8px;
	-webkit-border-radius:8px;
}
.articleBox .rightMenu ul { padding:0px;
width:218px;
margin-top:5px;
}


h1.userType{
    color: #000000;
    font-family: 'HelveticaRegular';
    font-size: 20px;
    font-weight: 100;



}
.pageTitle{
	border:none;
	margin:0;
    color: #000000;
     font-family: 'HelveticaRegular';
    font-size: 20px;
    font-weight: 100;
    padding: 0 0 10px 0;
	text-transform:none;
    width: 99%;
}
.slots{
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    width: 97%;
	padding: 10px;
	font-size: 12px;
	color:#000;
	float:left;
	margin-bottom:25px;
}
.slotRow{
	border: 1px solid #CCCCCC;
	background: none repeat scroll 0 0 #FFFFFF;
    width: 44%;
	float:left;
	font-size: 12px;
	color:#000;
	margin:15px 20px;
}
.slotRow h2.pageTitle {
	text-align:left;
	display:block;
	color: #000;
	padding:8px;
    font-family: "HelveticaRegular";
    font-size: 16px;
    font-weight: 100;
}
.slotRow h2.pageTitle a{
	float:right;
	margin-right:10px;
	padding-bottom: 8px;
}

.From_wrap{
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    width: 97%;
	padding: 10px;
	font-size: 12px;
	color:#000;
	margin-bottom:25px;
}
.form_default{
	margin:0 15px 45px 15px;
}
.form_default h3{ color:#000;
display:block;
}

.form_default p{
	padding:10px 0;
}
.form_default p label{
	display: block;
    float: left;
    width: auto;
	height:25px;
	min-width:200px;
}
.form_default label span{
	color:#F00;
	font-weight:bold;
}
.read{
	background: #e9e9e9;
}
.form_default p input{
    width: 330px;
	height:25px;
	vertical-align: top;
	border: 1px solid #CCCCCC;
}
.form_default p  select{
    width: 330px;
	height:30px;
	padding:3px;
	border: 1px solid #CCCCCC;
}

.form_default p textarea{
	width: 330px;
	height:65px;
	border: 1px solid #CCCCCC;
}
.form_defaultT p{
	padding:5px;
}
.form_defaultT p label{
	display: block;
    float: left;
    width: auto;
	height:25px;
	min-width:100px;
}
.form_defaultT p input{
    width: 330px;
	height:25px;
	border: 1px solid #CCCCCC;
}
.form_defaultT p button{
	float:right;
	background: #ffb257; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb257 0%, #969696 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb257), color-stop(100%,#969696)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb257 0%,#969696 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb257 0%,#969696 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb257 0%,#969696 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb257 0%,#969696 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb257', endColorstr='#969696',GradientType=0 ); /* IE6-9 */

	width:103px;
	height:26px;
	border:none;
	margin-left: 15px;
		border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
cursor:pointer;
color:#FFF;
}


.form_default p button{
	float:left;
	background: #ed9f04; /* Old browsers */
background: -moz-linear-gradient(top,  #ed9f04 0%, #ed9f04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9f04), color-stop(100%,#ed9f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed9f04 0%,#ed9f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed9f04 0%,#ed9f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed9f04 0%,#ed9f04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ed9f04 0%,#ed9f04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9f04', endColorstr='#ed9f04',GradientType=0 ); /* IE6-9 */

	width:103px;
	height:26px;
	border:none;
	margin-right: 100px;
cursor:pointer;
color:#FFF;
}
.pageTitle .button span{
	float:right;
background: #ed9f04; /* Old browsers */
background: -moz-linear-gradient(top,  #ed9f04 0%, #2f6da9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9f04), color-stop(100%,#ed9f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed9f04 0%,#ed9f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed9f04 0%,#ed9f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed9f04 0%,#ed9f04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ed9f04 0%,#ed9f04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9f04', endColorstr='#2f6da9',GradientType=0 ); /* IE6-9 */


	min-width:103px;
	height:26px;
	border:none;
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0 7px;
	line-height: 26px;
	text-align:center;
	cursor:pointer;
    text-transform: none;

}
.leftPanel table{
	border-top: 1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	font-size: 12px;
	color:#000;
	margin:10px 0 25px 0;
	width:99%;
}
.leftPanel table th{
	/*background:#E3E3E3;*/
	background:#E9E9E9;
	padding: 7px 3px;
	font-weight:normal;
	border-bottom: 1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	font-weight:bold;
}
.leftPanel table td{
	padding: 7px 3px;
	border-bottom: 1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
.leftPanel table td a{
	color:#000;
	margin: 0 6px;
	text-align:center;
}
.leftPanel table td a:hover{
	color:#034381;
}
/***NOTIFICATION MESSAGES (login.html, dashboard.html)***/
.notification { padding: 5px 5px 5px 40px; margin: 0 12px 5px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; position: relative;}
.notification .close { position: absolute; right: 5px; top: 5px; display: inline-block; width: 8px; height: 8px; cursor: pointer; }
.notification .close { background: url(../images/icons/close.png) no-repeat 0 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.notifyError { border: 1px solid #ff0000; background: #FFECEC; color: #ff0000; font-size: 11px; }

.msgalert { border: 1px solid #eac572; background: #ffe9ad url(../images/icons/warning.png) no-repeat 10px center; }
.msginfo { border: 1px solid #99c4ea; background: #d1e4f3 url(../images/icons/info.png) no-repeat 10px center; }
.msgsuccess { border: 1px solid #c1d779; background: #effeb9 url(../images/icons/success.png) no-repeat 10px center; }
.msgerror { border: 1px solid #e18b7c; background: #fad5cf url(../images/icons/error.png) no-repeat 10px center; }
#smallBody{
height:80px;	
}
.body{
	width:70%;
	margin-left:200px;
}
#bodyContent{
width:100%;	
}
.form_default p label input{
	float:left;
	width:20px;
	margin-top: -4px;
}
#display{
		width:240px;
		height:auto;
}
#display input, #display img{
		float:left;
}
#imgbutton img{
		padding-left: 25px;
		cursor:pointer;
}
#cat{
width:32%;
float:left;
padding-right: 5px;	

}
.catall{
width:100%;
height:auto;
text-transform: uppercase;
}
.pgright {
    right: 10px;
    top: 12px;
	text-align:right;
	padding-right:15px;
}
.pgright a.disabled {
    border: 1px solid #ccc;
}
.pagination a.disabled {
    border: 1px solid #ccc;
    color: #999;
}
.pagination a {
    box-shadow: 1px 1px 0 #f7f7f7;
}
.pagination a {
    
}
.pagination a {
   background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    border: 1px solid #bbb;
    color: #333;
    display: inline-block;
    padding:0px 10px;
	line-height:20px;
	font-size:12px;
}
.pagination a + a{ margin-left:2px;
}
.pagination a.current {
   background: #969696; /* Old browsers */
background: -moz-linear-gradient(top,  #969696 0%, #969696 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#969696)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #969696 0%,#969696 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #969696 0%,#969696 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #969696 0%,#969696 100%); /* IE10+ */
background: linear-gradient(to bottom,  #969696 0%,#969696 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
border:1px solid #AC5E02;

    color: #000;
}
.leftPanel {
    border-radius: 3px 3px 0 0;
}

/**************************New***************/
section.top_nav {
    background: none repeat scroll 0 0 #434140;
    display: block;
	margin-bottom: 15px;
}
.Nav_menu{
margin: 0 auto;
max-width: 90%;
font-family: 'HelveticaRegular';
}
.menu{ margin:0px auto;
width:90%;

}
.menu:after,.Foter_Main_wrap:after,.rightPanel:after{ content:"";
display:block;
clear:both;
}
.menu ul{ list-style:none;
margin:0px;
padding:0px;
}
.menu li{ float:left;
}
.clear{ clear:both;
}

.Foter_Main_wrap{ 
background: #0f151a;
padding: 23px 0;
text-align: center;
color: #fff;
font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
width:100%;
position:absolute;
/*height:64px;*/
bottom:0px;
margin-bottom:0px;
}
.userTypeTop{ float:left;
margin-top:40px;
font-family: 'HelveticaRegular';
font-size:20px;
}
.loginBoxTop{float:right;
/*margin-top:40px;*/
font-family: 'HelveticaRegular';
}
.SendQuotation a{ display: inline-block;
background: #f9bf7b; /* Old browsers */
background: -moz-linear-gradient(top,  #f9bf7b 0%, #969696 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9bf7b), color-stop(99%,#969696)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f9bf7b 0%,#969696 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f9bf7b 0%,#969696 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f9bf7b 0%,#969696 99%); /* IE10+ */
background: linear-gradient(to bottom,  #f9bf7b 0%,#969696 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bf7b', endColorstr='#969696',GradientType=0 ); /* IE6-9 */
line-height:35px;
padding:0 15px;
text-align:center;
font-size:14px;
font-weight:bold;
color:#FFF;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border:1px solid #ac5e02;
}

.loginBoxTop a{ display: inline-block;
background: #ed9f04; /* Old browsers */
background: -moz-linear-gradient(top,  #ed9f04 0%, #ed9f04 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9f04), color-stop(99%,#ed9f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed9f04 0%,#ed9f04 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed9f04 0%,#ed9f04 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed9f04 0%,#ed9f04 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ed9f04 0%,#ed9f04 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9f04', endColorstr='#ed9f04',GradientType=0 ); /* IE6-9 */
line-height:35px;
padding:0 15px;
text-align:center;
color:#FFF;
margin-left:10px;
border:1px solid #E9E9E9;
}
button.button{
display: inline-block;
background: #2f6da9; /* Old browsers */
background: -moz-linear-gradient(top,  #034381 0%, #2f6da9 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#034381), color-stop(99%,#2f6da9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #034381 0%,#2f6da9 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #034381 0%,#2f6da9 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #034381 0%,#2f6da9 99%); /* IE10+ */
background: linear-gradient(to bottom,  #034381 0%,#2f6da9 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034381', endColorstr='#2f6da9',GradientType=0 ); /* IE6-9 */
line-height:35px;
padding:0 15px;
text-align:center;
color:#FFF;
cursor:pointer;
float:right;
margin-right:10px;
border:1px solid #E9E9E9;
}
h3.Box_title{ display:block;
color: #000000;
font-family: "HelveticaRegular";
font-size: 20px;
font-weight: 100;
}
#quotations table th {
    background: none repeat scroll 0 0 #669B7C;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-weight: bold;
    padding: 7px 3px;
    text-align: left;
}

#quotations table td {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 7px 3px;
    text-align: left;
}
#quotations table {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #000;
    font-size: 12px;
    margin: 10px 0 25px;
    width: 99%;
}
#autopass{
	background: none repeat scroll 0 0 #000000;
    color: #fff;
    display: inline;
    margin-left: 10px;
    padding: 6px 10px;
	cursor:pointer;
}
.hightlight{
	border:1px solid #F00;
}
.red{
background:#F60;	
}
.slots{
position:relative;
}
#loaderAJAX{
position:absolute;	
top:20px;
left:500px;
}

.member, .vehicles {
    color: #000000;
    display: block;
    font-family: "HelveticaRegular";
    font-size: 20px;
    font-weight: 100;
}
.vehicles {
	float:right;
	margin-right: 30px;
}
.member {
	float:left;
	padding-left: 15px;
	margin-bottom: 15px;
}
.redbutton {
    background: linear-gradient(to bottom, #034381 0%, #2f6da9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    padding: 6px 10px;
    width: auto;
}
.vehicle_form label{
	display: block;
    float: left;
    height: 25px;
    width: 170px;
	margin-bottom:5px;
}
.vehicle_form input, .vehicle_form select{
	border: 1px solid #cccccc;
    height: 25px;
    vertical-align: top;
    width: 280px;
	margin-bottom:5px;
}
.vehicle_form p{
	margin-left:170px;
	margin-top:10px;
}
.vehicle_form button{
	background: linear-gradient(to bottom, #034381 0%, #2f6da9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 26px;
    width: 103px;
}
input.print {
    background: linear-gradient(to bottom, #034381 0%, #2f6da9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: 100;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: none;
    width: 103px;
}
.box2 {
}
.box2-1 img {
	max-width: 100%
}
.box2-img img {
	max-width: 100%
}
.box2-1 {
	float: left;
	background: rgb(255, 255, 255);
	-moz-box-shadow: 0 0 5px rgb(208, 208, 208);
	-webkit-box-shadow: 0 0 5px rgb(208, 208, 208);
	box-shadow: 0 0 5px rgb(208, 208, 208);
	padding: 6px;
	width: 49%;
	border-top: 5px solid #ed1c24;
	text-align: center;
	padding-bottom: 19px;
}
.box2-2-item {
	background: rgb(255, 255, 255);
	-moz-box-shadow: 0 0 5px rgb(208, 208, 208);
	-webkit-box-shadow: 0 0 5px rgb(208, 208, 208);
	box-shadow: 0 0 5px rgb(208, 208, 208);
	padding: 6px;
	border-top: 5px solid #ed1c24;
	text-align: center
}
.box2-3-item .box2-img {
	float: right;
	text-align: right
}
.box2-3-item .box2-info {
	float: left
}
.box2-3-item {
	margin-top: 20px
}
.box2-img {
	float: left;
	width: 41.5%;
	text-align: left;
}
.box2-info {
	width: 56%;
	float: right;
}
.box2 p {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.title-2 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgb(51, 51, 51);
	text-align: center;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
}
.box-deatail .title-2 {
	font-size: 18px;
	letter-spacing: 0.5px;
}
.title-2 a {
	color: rgb(51, 51, 51)
}
.title-2 a:hover {
	color: #ed1c24
}

.box2-2 {
	float: right;
	width: 49%;
}
.box3-item li {
	display: inline-block;
	position: relative;
	margin-left: 8px;
	margin-bottom: 12px;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
*zoom: 1;
}
#display input {
margin-left:200px;	
}
#addupload{
cursor:pointer;	
}
#file_view{
	width:auto;
	float:left;
	margin:5px 10px;
}
#remove_file {
	vertical-align:top;
	cursor:pointer;	
}
.buttonred{
 	background: linear-gradient(to bottom, #ed9f04 0%, #ed9f04 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 3px 10px;
    text-align: center;
    text-transform: none;
    width: auto;
	}
.searchbutton{
    background: linear-gradient(to bottom, #034381 0%, #2f6da9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 26px;
    width: 103px;	
}
.searchinput{
	border: 1px solid #cccccc;
    float: right;
    height: 25px;
    margin-right: 20px;
    padding: 2px 10px 2px 5px;
    vertical-align: top;
    width: auto;	
}
/********************breadcrumb********/
ul.breadcrumb{
    margin:0px auto;
    padding:0px;
    list-style:none;
    padding-top:0px;
    margin-bottom:25px;
	width: 90%;
}
ul.breadcrumb li{ display:inline-block;
 font-size:12px;
 line-height:12px;
 padding-top:0px;
 color:#000;
 font-weight:bold;
}
ul.breadcrumb li a,ul.breadcrumb li a:hover:after{ display:inline-block;
 color:#2F6DA9;
}
ul.breadcrumb li a:hover{  color:#c51b22; }
ul.breadcrumb li a:after{
     content:"\00bb";
     display:inline-block;
     margin-left:5px;
}
.cancel_link {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #c51b22 0%, #b3171d 100%) repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 103px;
}
.add_link {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #26bdae 0%, #58d1df 100%) repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 103px;
}
#aa{
	width:700px;	
}
#hideshow{
	cursor:pointer;	
}
.buttonNew {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ed9f04 0%, #ed9f04 100%) repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 14px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    text-transform: none;
}

.sr {
    border: 1px solid #cccccc;
    height: 25px;
    vertical-align: top;
    width: 70%;
	max-width:300px;
}
select.sr {
    border: 1px solid #cccccc;
    height: 25px;
    vertical-align: top;
    width: 100%;
	max-width:300px;
}
.select_option {
    border: 1px solid #cccccc;
    height: 30px;
    padding: 3px;
    width: 200px;
}