
#leftco2 {
	LEFT: 0px;
	TOP: 0px;
	text-decoration: none;
}
#leftco2 div {

	width:100%;
	text-decoration: none;
	
}


UL.tabNavigation {
	    
	font-size:15px;
	MARGIN:0px;
	padding:0px;
	padding-left:0px;
	LIST-STYLE-TYPE: none;
	font-weight: normal;
	text-decoration: none;
	position:relative;
	margin-left:0px;
	
}

UL.tabNavigation LI {
	display: inline;
	margin: 0;
	float:left;
	margin-right:0px;
	text-decoration: none;
}
UL.tabNavigation LI + LI{ float:right;
position:relative;
margin-right:-2px;
}

UL.tabNavigation LI A {
	background: url(../images/tab_01.png) no-repeat center top;
	text-align:center;
	color: #010101;
	text-decoration: none;
	line-height:24px;
	border-bottom:none;
	display:block;
border-bottom:0px solid #FFF;
	margin-bottom:0px;
	width:81px;
}

UL.tabNavigation LI A:hover, UL.tabNavigation LI A.selected {
	background: url(../images/tab_02.png) no-repeat center top;
	color:#010101;
	text-decoration: none;
	border-bottom:0px solid #e0e3e4;
}
.one{ margin:0px;
      width:100%;
	  float:left;
	  padding-top:10px;
	  background:#f4f4f4;
	  border:1px solid #000000;
border-top:0px solid #FFF;
	  
}

