@charset "utf-8";
/* CSS Document */
#menu {
	font-size:12px;
	color: #000409;
/*	float: left;
	clear: left;*/
	position: relative;
	z-index: 100;
	display:block;
	margin-left:0px;
	margin-top:0px;
	vertical-align:bottom;
	
}
#menu .quote {
	display: inline-block;
	color: #a5ff2c;
	float: right;
	text-decoration: none;
	margin-right: 25px;
	padding-right: 12px;
	background: url(../images/arrow_1.png) no-repeat right center;
}
#menu ul {
	
	display: block;
	position: relative;
	z-index: 1000;
	padding: 0;
	list-style-type: none;
	text-align:center;
}
#menu li {
	position: static;
	display:block;
	float:left;
	position: relative;
	margin-left:0px;
	margin-left:0px;
	text-transform:uppercase;
	padding-top:5px;
padding-bottom:5px;
}
#menu li + li{
margin-left:10px;
padding-left:10px;
background:url(../images/divder.png) left center no-repeat;


}

#menu li a {
	display:block;
	text-decoration:none;
	padding:0px;
	color: #FFF;
	line-height:13px;
	padding:0 8px;
	padding-top:6px;
	padding-bottom:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#menu li a:hover, #menu li a.selected, #menu li a.Select {
	color: #fff;
	display:block;
	background:#912220;
}

#menu li a span {
	color: #6e6e6e;
	display: block;
	font-size:10px;
}
#menu ul li ul {
	display: none;
	padding:3px 12px;
	width:168px;
	position: absolute;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #dbe9f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbe9f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#dbe9f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#dbe9f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#dbe9f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#dbe9f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbe9f6',GradientType=0 ); /* IE6-9 */

	overflow:hidden;
	z-index:90000000!important;
	margin-top:0px;
	/*left:50%;
	margin-left:-125px;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-shadow:0px 2px 3px #c0c3c1;
	-moz-box-shadow:0px 2px 3px #c0c3c1;
	-webkit-box-shadow:0px 2px 3px #c0c3c1;
	border-top:5px solid #034381;
}
#menu ul li ul.twoList {
	width: 520px;
}
#menu ul li ul li {
	display: block;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: relative;
	border-left:0px solid #1c1c1c;
	float:none;
	background:url(../images/drop_bg.png) left top no-repeat;
	background-size:100%;
	text-align:left;
}
#menu ul li ul.twoList li {
	width: 250px;
	float: left;
	
}


#menu ul li ul li + li {
	border-top: 1px #c1c0c3 solid;
	margin-left:0px !important;
padding-left:0px !important;
	
}
#menu ul li ul li + li + li + li {
	margin-left:0px;
	padding-left:0px;
background:url(../images/drop_bg.png) left top no-repeat;
background-size:100%;
margin-right:0px;

}
#menu ul li ul li a, #menu ul li a.Select ul li a, #menu li a.Select ul li a{
	color: #373737!important;
	line-height: normal;
	font-size:12px;
	display: block;
	text-decoration: none;
	position: relative;
	padding:10px 0px;
	padding-left:0px;
	text-transform:none;
	background: none!important;

}
#menu ul li ul li a:hover, #menu ul li a.Select ul li a:hover, #menu ul li ul li a.Select,#menu ul li ul li a.Active,#menu ul li ul li a.Active :hover {
	background: none!important;
	color:#034381 !important;
}
#menu ul li ul ul {
	width:245px;
	left:243px;
	top:-5px;
	position: absolute;
	display: none;
	padding:3px;
	border: 0px;
	border:2px solid #8a8a8a ;
}
#menu .downarrow {
	position: absolute;
	right: 10px;
	top: 18px;
	width: 5px;
	height: 3px;
	background: url(../images/navArrow.png) no-repeat;
}
#menu .rightarrow {
	position: absolute;
	right: 10px;
	top: 14px;
	width: 3px;
	height: 5px;
	background: url(../images/navArrow2.png) no-repeat;
}
#menu .menuDown {
	display: none;
}
#menu .hiddenNav {
	display: none;
}
#responsiveMenu {
	display: none;
}
.responsiveWrapper{display: none;
}

/****************************************************************************************************/

/***************************************************************************************************/
@media (max-width: 1024px)  {
	#menu li a {
	
}
}

@media only screen and (max-width:750px) {
	.Navwrap{ display:none;
	}
.responsiveWrapper{display: block;}

#menu {
	margin-left: 0px;
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
}
#menu > ul {
	display: none;
}
#menu .menuDown {
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
	background:#5b97d1;
	font-size:16px;
	margin-left:0%;
	height:34px;
	line-height:34px;
	margin-top:0px;
/*	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;*/
	

}
#menu a.menuDown:hover{background:#959595 !important;
}



#menu .menuDown span {
	display: block;
	padding: 0px 15px 0px 30px !important;
	background: url(../images/menu/menu.png) no-repeat 10px center;
	
}
#responsiveMenu {
	font-size: 17px !important;
	line-height: normal;
/*	text-transform: uppercase;*/
	width:100%;
	height:100%;
	padding:3%;
	overflow: auto;
	position: fixed;
	z-index: 100002;
	left: 0px;
	top: 0px;
	background: url(../images/menu/menuBg.png);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	overflow:hidden;
}
#responsiveMenuInner {
	width: 100%;
	-webkit-transform:translateY(-1000px);
	-moz-transform:translateY(-1000px);
	-o-transform:translateY(-1000px);
	transform:translateY(-1000px);
}
#responsiveMenu p {
	line-height: 30px;
	position: relative;
	margin: 0px;
	padding: 8px 14px;
	background:#034381;
	/*background:url(../images/button_red.png) center top no-repeat;*/
	border-bottom: 2px #FFF solid;
}
#responsiveMenu p span {
	color: #FFFFFF;
	display: inline-block;
	padding-left: 20px;
	background: url(../images/menu/menu.png) no-repeat left center;
}
#responsiveMenu p a {
	position: absolute;
	right: 0px;
	top: 0;
	width: 40px;
	height: 100%;
	display: inline-block;
	background: url(../images/menu/close.png) no-repeat center center;
}
#responsiveMenu ul {
	/*background: #538ddd;*/
background:#e7e6e6;
background-size:100%;
}
#responsiveMenu ul li {
	position: relative;
	list-style: none;
	text-transform:uppercase;
}
#responsiveMenu ul li + li {
	border-top: 1px #d0cfcf solid;
}
#responsiveMenu ul li a {
	color:#333333;
	display: block;
	padding: 7px 14px;
	text-decoration: none;
	font-size:14px;
	/*background:#000;*/
}
#responsiveMenu ul li a span{ /*text-transform:none; display:none;*/
}
#responsiveMenu ul li a:hover{ background:#5b97d1;
color:#FFF;
}
#responsiveMenu ul li.select a,.Select {
	background:#5b97d1!important;
	color:#FFF !important;
}
#responsiveMenu ul li ul {
	font-size: 90%;
	display: none;
	background:#bcbaba;
color:#9c1826;
}
#responsiveMenu ul li ul li a{color:#FFF;
}
#responsiveMenu ul li ul li a:hover,#responsiveMenu ul li ul li.Active a,#responsiveMenu ul li ul li.Active a:hover{color:#000 !important;
background:#bcbaba!important;
}



#responsiveMenu ul li ul li + li {
	border-top: 1px #dedcdc solid;
}
/*.menuScroll {
		position:fixed !important;
		z-index:10000 !important;
		right:2% !important;
		top:2% !important;
		margin-top:5px !important;
		width:auto !important;
		opacity:.8;
	}
	.menuScroll:hover {
		opacity:1;
	}*/
	
#responsiveMenu .downarrow {
	position: absolute;
	z-index: 10;
	right: 5px;
	top: 0px;
	width: 30px;
	height: 27px;
	padding: 0px;
	display: inline-block;
	
	
}
#responsiveMenu .downarrow:hover{ background:none;
}
#responsiveMenu .downarrow span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -7px;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	background:url(../images/menu/menuArrow.png) no-repeat center center !important;

}
#responsiveMenu .downarrow.uparrow span {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#responsiveMenu .quote {
	display: none;
}
}

 @media screen and (max-width: 500px) {
	 #menu .menuDown {

}

}
 @media screen and (max-width: 340px) {
	 #menu .menuDown {

	
} 
 }
 @media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 400px) {

}


/*************************/
@-webkit-keyframes bounceInDown {
0% {
opacity:0;
-webkit-transform:translateY(-2000px);
}
60% {
opacity:1;
-webkit-transform:translateY(30px);
}
80% {
-webkit-transform:translateY(-10px);
}
100% {
-webkit-transform:translateY(0);
}
}
@-moz-keyframes bounceInDown {
0% {
opacity:0;
-moz-transform:translateY(-2000px);
}
60% {
opacity:1;
-moz-transform:translateY(30px);
}
80% {
-moz-transform:translateY(-10px);
}
100% {
-moz-transform:translateY(0);
}
}
@-o-keyframes bounceInDown {
0% {
opacity:0;
-o-transform:translateY(-2000px);
}
60% {
opacity:1;
-o-transform:translateY(30px);
}
80% {
-o-transform:translateY(-10px);
}
100% {
-o-transform:translateY(0);
}
}
@keyframes bounceInDown {
0% {
opacity:0;
transform:translateY(-2000px);
}
60% {
opacity:1;
transform:translateY(30px);
}
80% {
transform:translateY(-10px);
}
100% {
transform:translateY(0);
}
}
.animated.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
 @-webkit-keyframes bounceOutDown {
0% {
-webkit-transform:translateY(0);
}
20% {
opacity:1;
-webkit-transform:translateY(-20px);
}
100% {
opacity:0;
-webkit-transform:translateY(2000px);
}
}
@-moz-keyframes bounceOutDown {
0% {
-moz-transform:translateY(0);
}
20% {
opacity:1;
-moz-transform:translateY(-20px);
}
100% {
opacity:0;
-moz-transform:translateY(2000px);
}
}
@-o-keyframes bounceOutDown {
0% {
-o-transform:translateY(0);
}
20% {
opacity:1;
-o-transform:translateY(-20px);
}
100% {
opacity:0;
-o-transform:translateY(2000px);
}
}
@keyframes bounceOutDown {
0% {
transform:translateY(0);
}
20% {
opacity:1;
transform:translateY(-20px);
}
100% {
opacity:0;
transform:translateY(2000px);
}
}
.animated.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	-moz-animation-name: bounceOutDown;
	-o-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
